.language-switcher-container {
    position: relative;
    display: inline-block;
    user-select: none;
}

.language-switcher-button {
    background-color: #000;
    color: var(--color-BWhite);
    border: 1px solid var(--color-BGreen);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    user-select: none;
}

.language-switcher-button.desktop {
    width: 140px;
    height: 40px;
    font-size: 16px;
}

.language-switcher-button.mobile {
    width: 75px;
    height: 36px;
    font-size: 13px;
    background-color: #000;
    color: var(--color-BWhite);

}

.language-switcher-arrow {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-BGreen);
}

.language-switcher-arrow.mobile {
    font-size: inherit;
    font-weight: bold;
    color: var(--color-BGreen);
}

.language-switcher-dropdown {
    position: absolute;
    background-color: #000;
    border: 1px solid var(--color-BGreen);
    border-radius: 10px;
    z-index: 9999;
    user-select: none;
}

.language-switcher-dropdown.desktop {
    top: 42px;
    width: 140px;
    font-size: 16px;
}

.language-switcher-dropdown.mobile {
    top: 38px;
    width: 75px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.language-switcher-dropdown.mobile .language-switcher-item:hover,
.language-switcher-dropdown.mobile .language-switcher-item:focus {
    background-color: var(--color-BGreen);
    outline: none;
    top: 38px;
    width: 55px;
    font-size: inherit;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.language-switcher-item {
    padding: 8px 10px;
    color: var(--color-BWhite);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    font-size: inherit;

}

.language-switcher-item:hover,
.language-switcher-item:focus {
    background-color: var(--color-BGreen);
    outline: none;
    border-radius: 7px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}