/* Toggle Button Styles */
.mobile-menu-button {
    color: var(--color-BGreen) !important;
    font-size: 40px !important;
    width: 48px !important;
    height: 55px !important;

}

.mobile-menu-open-icon {
    font-size: 45px !important;
}

.mobile-menu-close-icon {
    font-size: 40px !important;
}


/* Dropdown Menu Styles */
.mobile-menu-dropdown {
    background-color: var(--color-BBlack);
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 999;
    border-top: 1px solid #444;
    color: var(--color-BWhite);
    padding: 10px 0;
}

.mobile-menu-dropdown * {
    color: inherit !important;
}

.mobile-menu-list-item {
    padding: 0 !important;
}

.mobile-menu-link-text {
    font-size: 22px !important;
    font-weight: bold !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    letter-spacing: 0.72px !important;
    line-height: 1 !important;
    text-transform: uppercase !important;
    padding: 0.6rem 3rem 0.6rem 25px !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.16) !important;
}

.mobile-menu-link-text:hover,
.mobile-menu-link-text:focus {
    color: var(--color-BGreen) !important;
}