:root {
  --base-font: 16px;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 100%;
  /* equivalent to 16px */
}

/* General styling */
.App {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

/* Styling for the logo inside AppBar */
.App-logo {
  height: 6vmin;
  background-color: #000;
  padding: 5px;
  pointer-events: none;
  max-height: 40px;
  width: auto;
}

/* Main content section */
.MainContent {
  margin-top: 20px;
  text-align: center;
}


/* PresidentEndorsement font for PresidentEndorsement  */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Specific styles for PresidentEndorsement */
/* h1 for main heading i.e: President's Endorsement */
.president-endorsement h1 {
  font-size: clamp(1.5rem, 3.5vw, 2.56rem);
  font-weight: bold;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* h2 for secondary heading i.e. message from the president
   and Campaign Goals */
.president-endorsement h2 {
  font-size: clamp(1.38rem, 3vw, 2.25rem);
  font-weight: bold;
  text-align: left;
}

/* h3 for heading under Campiagn Goals */
.president-endorsement h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.9rem);
  font-weight: bold;
  text-align: left;
}

.president-endorsement p {
  font-size: clamp(1rem, 1.5vw, 1.15rem);
  text-align: left;
  text-align: justify;
  margin-bottom: 1.45rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}